
:root {
    --white:#FFF;
    --gray-light: #c0c0c0;
    --gray-dark: #282828;
    --black: #000000;
    --blue-aero: #87CEEB;
    --blue-indigo-dye: #4D5BEB;
    --yellow-mustard: #FFDD4A;
    --orange-light: #FFD0BA;
    --orange-princeton: #FE9000;
    --orange-giants: #fe8e5c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--orange-light);
    /* transition: transform 0.5s ease-in-out; */
    scroll-behavior: smooth;
}

.contact-info-section img {
    height: 6vh;
}

.balloon-headers {
    font-family: 'Inconsolata', monospace;
    font-size: 1.4em;
    text-align: center;
    
    padding: 1.2rem;
    
    background-color: var(--white);
    
    background-color: white;
    
    border-radius: 0 10rem 10rem 10rem;
}



.balloon-headers > span {
    color: var(--orange-giants);
}

.section-tabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 12px;

    font-size: 100%;
    
    height: 2rem;
}

li {
    list-style: none;
}

.sections {
    padding: 2.4rem 1.2rem;

    height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
}

.profile-picture_container {
    position: relative;

    width: 100%;
    height: 60vh;
}

.profile-picture {
    width: auto;
    height: 100%;

    border-radius: 100%;
    
    position: absolute;
    left: 50%;

    transform: translate(-50%);
}

.imAlxy-section__header {
    font-family: 'Inconsolata', monospace;
    font-size: 1.4em;
    text-align: center;

    padding: 1.2rem;
    
    background-color: var(--white);

    border-radius: 10rem;
}

.imAlxy-section__header > span:first-child {
    color: var(--orange-giants);
}

.imAlxy-section__about-me,
.proyects-section__proyect {
    height: 100%;
    
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.2em;
}

.imAlxy-section__tabs-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.imAlxy-section__content,
.proyects-section__proyect__content {
    background-color: var(--white);
    height: calc(100% - 2rem);
    padding: 1.2rem;
    
    border-radius: 0 0 1.2rem 1.2rem;
}

.imAlxy-section__content > .active-content-tab {
    display: flex;
}

.imAlxy-section__content > .inactive-content-tab {
    display: none;
}

.imAlxy-section__content > li  {
    height: 100%;
    width: 100%;

    font-size: 5vw;
    
    display: flex;
    align-items: center;
}


/* Here's the beginning of the second section */

.proyects-section {
    max-width: 100vw;
    overflow-x: hidden;
}

.proyects-section__proyect__tabs-tab {
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.proyects-section__proyect__tabs-tab:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
}

.proyects-section__proyect__tabs-tab:last-child {
    grid-column-start: 3;
    grid-column-end: 5;
}

.proyects-section__proyect {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 1.2rem;

width: 100vw;
overflow-x: scroll;

padding: 0 1.2rem;
}

.proyects-section__proyect > div {
    width: 84vw;
}
.proyects-section__proyect-preview {
    background-color: var(--white);
    
    border-radius: 0 0 1.2rem 1.2rem;

    padding: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.page-dots {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.6rem;

    justify-content: center;
    align-items: center;

    margin: .8rem 1.2rem -.4rem;
}

.page-dots > li > img {
    width: .8rem;
    border: 1.5px solid var(--orange-giants);
    border-radius: 10rem;
}

.page-dots .active-dot {
    width: 1.2rem;
}

.proyects-section__proyect__content > .inactive-content-tab {
    display: none;
}

.proyects-section__proyect__content-preview {
    /* width: calc(100vw - 4 * 1.2rem); */
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: .8rem;

    text-align: center;

    padding: 0 .4rem;
}

.proyects-section__proyect__content-preview > a {
    color: var(--orange-giants);
    font-weight: bold;

    border: solid var(--orange-giants);
    border-radius: 1rem;

    padding: .4rem .8rem;
    align-self: center;
}

.proyects-section__proyect__content-preview > figure > img {
    width: auto;
    /* max-width: 60vh; */
    max-height: 50vh;
    height: auto;
    border: solid var(--orange-giants);
    border-radius: 1rem;

}

.proyects-section__proyect__content-text {
    height: 100%;

    display: flex;

    align-items: center;
}

/* Here  starts the code of last section */
.contact-info-section {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1.2rem;
}

.contact-info-section__list {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr;
    gap: 1.2rem;
}


.contact-info-section__list-item {
    /* align-self: right; */
    display: flex;
    align-items: center;

}

.contact-info-section__list-item > a {
    display: flex;
    align-items: center;
    
    background-color: var(--white);
    
    height: 100%;
    width: 100%;

    border-radius: 1.2rem;

    padding: 1.2rem;

    gap: 1.2rem;

    color: var(--gray-dark);
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
}

/* Here's the code for only sections tabs */


.section-tabs > li {
    border-radius: .4rem .4rem 0 0;
    
}

.section-tabs > li > h5 {
    letter-spacing: 2px;
    
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.inactive-tab {
    background-color: var(--orange-giants);
    color: var(--white);
}

.active-tab {
    background-color: var(--white);
    color: var(--gray-dark);
}